<nav class="navbar navbar-expand" id="mainHeader">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="#"><img src="../../assets/placeholder.png" class="img-fluid img-circular" width="50" /></a>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#"><img src="../../assets/placeholder.png" class="img-fluid img-circular" width="50" /></a>
			</li>
			<li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#"><img src="../../assets/placeholder.png" class="img-fluid img-circular" width="50" /></a>
			</li>
			<li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#"><img src="../../assets/placeholder.png" class="img-fluid img-circular" width="50" /></a>
			</li>
		</ul>
	</div>
</nav>