<div class="sidebar" id="katawan">
	<div>
		<div class="text-center">
			<img src="../../assets/placeholder.png" class="img-fluid" width="50%"/>
			<h5 id="mensahe" class="sidebarUsername font-weight-light">username</h5>
		</div>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="navbar-toggler nav-link js-scroll-trigger active" aria-expanded="true" aria-controls="navbarQuotation" data-target="#navbarQuotation" aria-label="Toggle Quotation Navigations" data-toggle="collapse" href="#"><span class="icon-graph"></span> Quotation </a>
				<div class="collapse navbar-collapse show" id="navbarQuotation">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item subItem">
							<a class="nav-link js-scroll-trigger active" href="#">Quotation Processing</a>
						</li>
						<li class="nav-item subItem">
							<a class="nav-link js-scroll-trigger" href="#">Quotation Inquiry</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a class="navbar-toggler nav-link js-scroll-trigger" aria-expanded="false" aria-controls="navbarUnderwriting" data-target="#navbarUnderwriting" aria-label="Toggle Underwriting Navigations" data-toggle="collapse" href="#"><span class="icon-pencil"></span> Underwriting </a>
				<div class="collapse navbar-collapse" id="navbarUnderwriting">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item subItem">
							<a class="nav-link js-scroll-trigger" href="#">Underwriting Item 1</a>
						</li>
						<li class="nav-item subItem">
							<a class="nav-link js-scroll-trigger" href="#">Underwriting Item 2</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a class="navbar-toggler nav-link js-scroll-trigger" aria-expanded="false" aria-controls="navbarAccounting" data-target="#navbarAccounting" aria-label="Toggle Accounting Navigations" data-toggle="collapse" href="#"><span class="icon-notebook"></span> Accounting </a>
				<div class="collapse navbar-collapse" id="navbarAccounting">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item subItem">
							<a class="nav-link js-scroll-trigger" href="#">Accounting Item 1</a>
						</li>
						<li class="nav-item subItem">
							<a class="nav-link js-scroll-trigger" href="#">Accounting Item 2</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a class="navbar-toggler nav-link js-scroll-trigger" aria-expanded="false" aria-controls="navbarClaims" data-target="#navbarClaims" aria-label="Toggle Claims Navigations" data-toggle="collapse" href="#"><span class="icon-docs"></span> Claims </a>
				<div class="collapse navbar-collapse" id="navbarClaims">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item subItem">
							<a class="nav-link js-scroll-trigger" href="#">Claims Item 1</a>
						</li>
						<li class="nav-item subItem">
							<a class="nav-link js-scroll-trigger" href="#">Claims Item 2</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a class="navbar-toggler nav-link js-scroll-trigger" aria-expanded="false" aria-controls="navbarSecurity" data-target="#navbarSecurity" aria-label="Toggle Security Navigations" data-toggle="collapse" href="#"><span class="icon-eye"></span> Security </a>
				<div class="collapse navbar-collapse" id="navbarSecurity">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item subItem">
							<a class="nav-link js-scroll-trigger" href="#">Security Item 1</a>
						</li>
						<li class="nav-item subItem">
							<a class="nav-link js-scroll-trigger" href="#">Security Item 2</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>